##### devcontainer 用の Docker Compose 定義ファイル #####

# name指定することで生成されるコンテナ名をある程度制御可能
# {name指定内容}-{service名} の形式にできる
name: projectname

services:
  ### devcontainer ###
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      # Forwards the local Docker socket to the container.
      - /var/run/docker.sock:/var/run/docker-host.sock
      # * プロジェクトルートの一つ上のディレクトリを/workspacesにマウントする設定
      # * ホスト側でのディレクトリ構成は以下のようにすること
      #   ```
      #   grandparents/
      #     parents1/ <- この配下に置かれているものが全部コンテナに取り込まれてしまう
      #       this-devcontainer-project/  <- devcontainerプロジェクト, これだけ配置する
      #     parents2/
      #       other-devcontainer-project/ <- 他のdevcontainerプロジェクト
      #   ```
      #
      # ! `/home/(user)/devcontainer-project` といった配置にしてしまうと
      # ! `/home/(user)/` 配下の全てのディレクトリ・ファイルがコンテナに取り込まれてしまうため注意
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity

    # devcontainer 内から、動作確認用で動いている本番コンテナー等にアクセスするための設定
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # ! 本番環境(AWSなりAzureなりGCPなり)にデプロイする際は、ENVが外部から設定できるはずなので
    # ! 以下のキーに相当する環境変数を本番環境に設定しておくこと
    environment:
      ## Honoのリッスンポート
      # 環境ごとに変えれるようにしておくと、prodイメージのローカル確認が楽になる
      - HONO_SERVICE_PORT=8000

      ## Opentelemetry(lgtm) のエンドポイントURL
      # compose環境においては、localhostではなくサービス名で指定する
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318

      ## Opentelemetry(lgtm)に送信されるトレースデータに付与されるサービス名
      - OTEL_SERVICE_NAME=projectname_service_in_devcontainer
    # Uncomment the next four lines if you will use a ptrace-based debuggers like C++, Go, and Rust.
    # cap_add:
    #  - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

    ##### 開発用コンテナー以外に同時に起動したいコンテナはここより下で定義する #####

    ### Opentelemetry + Grafana + Prometheus + Loki + Tempo + Pyroscope の統合観測基盤
  lgtm:
    image: docker.io/grafana/otel-lgtm:0.13.0
    container_name: lgtm
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
    volumes:
      - ../lgtm/grafana:/data/grafana
      - ../lgtm/prometheus:/data/prometheus
      - ../lgtm/loki:/data/loki
    environment:
      - GF_PATHS_DATA=/data/grafana
    tty: true
    stdin_open: true
    restart: "no"
