### 本番環境用のDocker Image をビルドするための設定ファイル

## 使い方:
# プロジェクトルートディレクトリで以下のコマンドを実行
#   docker compose -f '.docker/production/compose.yaml' build
# あるいは、VSCode 上で
#   本ファイルを開いて右クリック -> "Compose Up" を選択
services:
  honot:
    build:
      context: ../../
      dockerfile: .docker/production/Dockerfile
    image: honot:production
    ports:
      - "8008:8008"
    environment:
      - DENO_ENV=production
      - HONO_SERVICE_PORT=8008 # 開発環境(devcontainer)で指定している番号とは異なる番号を指定

### memo: 本Composeファイルで起動するコンテナへのアクセス方法(簡易確認用)
# devcontainer ... curl http://host.docker.internal:8008
# WSL2 ........... curl http://localhost:8008
# ホストOS ....... curl http://localhost:8008
